{% extends "index.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/News/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% for new in News %}
            <div class="card mb-3">
                <img class="card-img-top" style="height: 50vh" src="{{ new.image.url }}" alt="Card image cap">
                <div class="card-body paragraph">
                    <p class="card-text pink-text">{{ new.text|linebreaks }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
