{% extends "index.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/News/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% for new in News %}
            <div class="jumbotron">
            <div class="row">
                <div class="col-8" style="text-align: right">
                    <p class="pink-text">{{ new.text|linebreaks }}</p>
                </div>
                <div class="col-4">
                    <img src="{{ new.image.url }}" id="newsImg">
                </div>
            </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
