@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    background-image: url("/static/images/home_croped.png");
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

}

.navbar {
    background-color: #ffffff;

}

.nav-link {
    color: #f91da3 !important;
}

.white-text{
    color: white;
    font-size: 1.2em;
    text-shadow: 5px 5px 3px black;
}

.pink-text{
    color: deeppink;
}


p {
    direction: rtl;
}


.row {
    padding: 20px;
}

.card-img-top {
    object-fit: cover;
}

.btn-primary {
    background-color: #f91da3 !important;
}

.btn-outline-secondary {
    color: #f91da3 !important;
    border-color: #f91da3 !important;
}

.container {
    margin-top: 20px;
}

.spacebot {
    margin-bottom: 40px;
}

.btn-primary {
    margin-top: 20px;
}

.btn-outline-secondary:hover {
    color: #f91da3 !important;
    border-color: #f91da3 !important;
}

/* BOT NAV*/
.botnav{
    width: 100%;
    height: 15vh;
    bottom: 0px;
    border: #ededed 1px solid;
    z-index: 1;
    text-align: center;
    background: white;
    margin-top: 30vh;
}

.navicon{
    width: 40px;
    height: 40px;
    margin: 10px;
}

ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
}

.paragraph{
    text-align: right;
    font-size: 1.2em;
}

.canvas-black{
    background: rgba(0,0,0,0.6);
    padding: 1em;
    margin-top: 20px;
    border-radius: 20px;

}

.canvas-white{
    background: rgba(255,255,255,0.6);
    padding: 1em;
    margin-top: 20px;
    border-radius: 20px;

}

.list-group{
    border-radius: 15px;
}


/*map*/

.map-container-5{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

.map-container-5 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.peilim-header{
    text-align: center;
    font-size: 5em;
    animation: color-change 3s infinite;
}

@keyframes color-change {
  0% { color: red; }
  25% {color: black}
  50% { color: deeppink; }
  75% { color: green; }
  100% { color: purple; }
}
