{% extends "index.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/Orders/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container canvas-white">
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col">
                <ul class="list-group" style="margin-bottom: 5vh">
                    <li class="list-group-item" style="text-align: center">
                        <h3>הזמנות מחסן</h3>
                        <form method="get" action="{% url 'Orders:CreateWorder' %}">
                            <button type="submit" class="btn btn-outline-dark">הזמנה חדשה</button>
                        </form>
                    </li>
                <!-- Temporary -->
                {% for order in Worders %}
                    {% if order.Approved %}
                    <li class="list-group-item">
                    <div class="row">
                        <div class="col-8" style="text-align:right">
                            <h5>{{ order.date|date:"d/m/Y" }}</h5>
                            <h6> {{ order.description }}</h6>
                            {% if order.collected %}
                            <h6 style="color: red">ציוד לא הוחזר</h6>
                        {% endif %}
                        {% if not order.collected %}
                            <a href="{% url 'Orders:DeleteWorder' order.pk %}"><i class="fas fa-trash"></i></a>
                        {% endif %}
                        </div>
                        <div class="col-4" >
                            <button type="button" disabled class="btn btn-outline-success">מאושר</button>
                        </div>
                    </div>
                    </li>
                    {% else %}
                        <li class="list-group-item">
                    <div class="row">
                        <div class="col-8" style="text-align: right">
                            <h5>{{ order.date|date:"d/m/Y"  }}</h5><h6> {{ order.description }}</h6>
                            <a href="{% url 'Orders:DeleteWorder' order.pk %}"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="col-4">
                            <button type="button" disabled class="btn btn-outline-danger">לא מאושר</button>
                        </div>
                    </div>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        <div class="col">
            <ul class="list-group" style="margin-bottom: 5vh">
                    <li class="list-group-item" style="text-align: center">
                        <h3>הזמנות תחזוקה</h3>
                        <form method="get" action="{% url 'Orders:CreateTorder' %}">
                            <button type="submit" class="btn btn-outline-dark">הזמנה חדשה</button>
                        </form>
                    </li>
                <!-- Temporary -->
                {% for order in Torders %}
                    {% if order.Approved %}
                    <li class="list-group-item">
                    <div class="row">
                        <div class="col-8">
                            <h5>{{ order.date|date:"d/m/Y"  }}</h5><h6> {{ order.description }}</h6>
                        </div>
                        <div class="col-4">
                            <button type="button" disabled class="btn btn-outline-success">מאושר</button>
                        </div>
                    </div>
                    </li>
                    {% else %}
                        <li class="list-group-item">
                    <div class="row">
                        <div class="col-8">
                            <h5>{{ order.date|date:"d/m/Y"  }}</h5><h6> {{ order.description }}</h6>
                        </div>
                        <div class="col-4">
                            <button type="button" disabled class="btn btn-outline-danger">לא מאושר</button>
                        </div>
                    </div>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
        </div>
        <div class="col">
            <ul class="list-group" style="margin-bottom: 5vh">
                    <li class="list-group-item" style="text-align: center">
                        <h3>הזמנות שטח</h3>
                        <form method="get" action="{% url 'Orders:CreateAorder' %}">
                            <button type="submit" class="btn btn-outline-dark">הזמנה חדשה</button>
                        </form>
                    </li>
                <!-- Temporary -->
                {% for order in Aorders %}
                    {% if order.Approved %}
                    <li class="list-group-item">
                    <div class="row">
                        <div class="col-8">
                            <h5>{{ order.date|date:"d/m/Y"  }}</h5><h6> {{ order.get_area_display }}</h6>
                        </div>
                        <div class="col-4">
                            <button type="button" disabled class="btn btn-outline-success">מאושר</button>
                        </div>
                    </div>
                    </li>
                    {% else %}
                        <li class="list-group-item">
                    <div class="row">
                        <div class="col-8">
                            <h5>{{ order.date|date:"d/m/Y"  }}</h5><h6> {{ order.get_area_display }}</h6>
                        </div>
                        <div class="col-4">
                            <button type="button" disabled class="btn btn-outline-danger">לא מאושר</button>
                        </div>
                    </div>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
        </div>
        </div>
    </div>
{% endblock %}