{% extends "index.html" %}
{% load static %}
{% load bootstrap3 %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/Orders/style.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12" id="headline">
                <h1 id="Wheadline">מחסן</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col">
                <ul class="list-group order-card">
                    <li class="list-group-item" style="text-align: center">
                        <button type="submit" disabled class="btn btn-outline-danger">הזמנות לא מאושרות</button>
                    </li>
                <!-- Temporary -->
                {% for order in Worders %}
                    {% if not order.Approved %}
                    <li class="list-group-item">
                    <div class="row" style="margin-bottom: -3vh">
                        <div class="col-8">
                            <h5>{{ order.user.first_name }} {{ order.user.last_name }}</h5><h6> {{ order.date|date:"d/m/Y" }}</h6>
                        </div>
                        <div class="col-4" style="text-align: center">
                            <form action="{% url 'Orders:ApproveWorder' order_pk=order.pk %}", method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success admin-button">אשר</button>
                            </form>
                            <form action="{% url 'Orders:CommentWorder' order_pk=order.pk %}", method="GET">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-dark admin-button">הערה</button>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="margin-top:-10px">
                        <div class="col" style="text-align: right">
                            <h6> {{ order.description }}</h6>
                            {% if order.comment %}
                                <p class="comment">{{ order.comment }}</p>
                            {% endif %}
                        </div>
                    </div>
                    </li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>
        <div class="col">
                <ul class="list-group order-card">
                    <li class="list-group-item" style="text-align: center">
                        <button type="submit" disabled class="btn btn-outline-success">הזמנות מאושרות</button>
                    </li>
                {% for order in Worders %}
                    {% if order.Approved %}
                    <li class="list-group-item">
                    <div class="row">
                        <div class="col-8">
                            <h5>{{ order.user.first_name }} {{ order.user.last_name }}</h5><h6> {{ order.date|date:"d/m/Y" }}</h6><h6> {{ order.description }}</h6>
                            {% if order.comment %}
                            <h6 class="comment"> {{ order.comment }}</h6>
                                {% endif %}
                        </div>
                        <div class="col-4" style="text-align: center">
                            <form action="{% url 'Orders:disApproveWorder' order_pk=order.pk %}", method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger admin-button">בטל אישור</button>
                            </form>
                            <form action="{% url 'Orders:CommentWorder' order_pk=order.pk %}", method="GET">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-dark admin-button">הערה</button>
                            </form>
                            {% if order.collected %}
                                <form action="{% url 'Orders:ReturnWorder' order_pk=order.pk %}", method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger admin-button">הוחזרה</button>
                                </form>
                            {% else %}
                                <form action="{% url 'Orders:CollectWorder' order_pk=order.pk %}", method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger admin-button">נמסרה</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>


{% endblock %}