h2, h5,h6{
    text-align: right;
}
h1, h3{
    text-align: center;
}

#Wheadline{
    color: #2a8600;
    font-size: 60px;
}

#Theadline{
    color: #8911B6;
    font-size: 60px;

}

#Aheadline{
    color: #ED3CED;
    font-size: 60px;
}