{% extends "base_no_footer.html" %}
{% load static %}
{% load bootstrap3 %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/Segment/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container right-container">
    <div class="canvas-white">
        <div class="row" style="margin-bottom: 0px">
            <h1 id="Theadline" style="font-size: 40px">הוסף גזרה</h1>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form show_label=False%}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
        <div class="row">
            <div class="col-6 paragraph">
                {% for user in user_list %}
                    <p>{{ user.get_full_name }}</p>
                {% endfor %}
            </div>
            <div class="col-6 paragraph">
                {% for seg in segment_list %}
                    <p>{{ seg }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <div class="container left-container">
        <div class="row">
            <div class="col">
            <ul class="list-group" style="margin-bottom: 5vh">
                    <li class="list-group-item" style="text-align: center">
                        <h3>גזרות להיום</h3>
                    </li>
                {% for segment in segments %}
                    {% if segment.Approved != True %}
                        <li class="list-group-item" style="text-align: right">
                            <div class="row">
                                <div class="col-8">
                                <h2 style="color: red">{{ segment.user.get_full_name }}: {{ segment.get_segment_display }}</h2>
                                </div>
                                <div class="col-3">
                                    <form action="{% url 'Segment:ApproveSegment' seg_pk=segment.pk %}", method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-success admin-button but-100-width">אשר</button>
                                    </form>
                                </div>
                                <div class="col-1">
                                    <form action="{% url 'Segment:disactiveSegment' seg_pk=segment.pk %}", method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger admin-button"><i class="fas fa-trash"></i></button>
                                    </form>
                                </div>

                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
                {% for segment in segments %}
                    {% if segment.Approved == True %}
                        <li class="list-group-item" style="text-align: right">
                            <div class="row">
                                <div class="col-8">
                                <h2 style="color: green">{{ segment.user.get_full_name }}: {{ segment.get_segment_display }}</h2>
                                </div>
                                <div class="col-3">
                                    <form action="{% url 'Segment:disApproveSegment' seg_pk=segment.pk %}", method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger admin-button but-100-width">בטל אישור</button>
                                    </form>
                                </div>
                                <div class="col-1">
                                    <form action="{% url 'Segment:disactiveSegment' seg_pk=segment.pk %}", method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger admin-button"><i class="fas fa-trash"></i></button>
                                    </form>
                                </div>

                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            </div>

        </div>
    </div>
{% endblock %}