{% extends "base.html" %}
{% load static %}

{% block analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180691863-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-180691863-1');
    </script>


{% endblock %}
{% block head %}

    <link rel="stylesheet" href="{% static 'css/Carousel/style.css' %}">
    <script src="{% static 'js/carousell.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="carousel">
      <input type="checkbox" class="faux-ui-facia">
      <div class="slide" slide="5" >
        <img src="{% static 'images/gallery1.jpg' %}" class="img-slide" alt="Slide 5">
      </div>


      <input type="checkbox" class="faux-ui-facia">
      <div class="slide" slide="4">
        <img src="{% static 'images/gallery2.jpg' %}" class="img-slide" alt="Slide 4">
      </div>

      <input type="checkbox" class="faux-ui-facia">
      <div class="slide" slide="3" >
        <img src="{% static 'images/gallery3.jpg' %}" class="img-slide" alt="Slide 3">
      </div>

      <input type="checkbox" class="faux-ui-facia">
      <div class="slide" slide="2" >
        <img src="{% static 'images/gallery4.jpg' %}" class="img-slide" alt="Slide 2">
      </div>

      <input type="checkbox" class="faux-ui-facia">

      <div class="slide" slide="1" >
        <img src="{% static 'images/gallery5_croped.jpeg' %}" class="img-slide" alt="Slide 1">
      </div>


    </div>

    <!-- TEXT -->


    <div class="container">
        <div class="row">
            <div class="col-12 paragraph">
                <div class="canvas-black">
                <p class="white-text">
                     שבט גימל הוקם לפני 33 שנים, בשנת 1987 ברמת אביב גימל. השבט מונה 1,100 חניכים מכיתה ד׳ ועד כיתה יב׳.
                    בכל שלישי ושישי כל החניכים מגיעים לשבט ועוברים פעולות ברחבי השכונה. הפעולות , המועברות על ידי המדריכים בשכבה הבוגרת, הן פעולות ערכיות המתאימות לחניכים בכל הגילאים.
                    <br>השכבה הבוגרת כוללת צוות פעילים וצוות הדרכה. ביחד, הפעילים והמדריכים מתפעלים ומובילים את השבט במשך השנה.

                    <br><br>בכל שנה, השבט נוהג לקיים מפעלים שונים המערבים את כלל קהילת השכונה ולוקח חלק בפעילויות שכונתיות . המפעלים מערבים בנייה צופית של חברי השכבה הבוגרת וחניכים בשכבות השונות. בין המפעלים ישנם יום שבט המתקיים בחורשה ברמת אביב גימל, חנוכיון שכונתי הכולל מצעד לפידים ברחבי השכונה, פורימון ומחנה הקיץ .

                    <br>לאורך השנה, ישנם מפעלים שונים שהחניכים אחראיים עליהם כמו טקס כ״ט בנובמבר, מפעל לכבוד יום האהבה, טקס לזכרו של חיים בכר ז״ל ומפעלים אחרים. בכך החניכים מעורבים בפעילות הצופית ולומדים על הבנייה הצופית.
                    במהלך השנה, השבט לוקח חלק גם במירוץ גיא השכונתי לזכרו של גיא אלגרנטי ז״ל ובמירוץ למען מלאכיות הדממה.

                    <br><br>בשנים האחרונות, השבט משקיע רבות בשילוב חניכי צמיד בגדודים השונים ובהפיכתם לחלק משמעותי ובלתי נפרד מהוואי השבט, והחל משנה הבאה גם בשילובם בתוך השכבה הבוגרת.

                    <br><br>כחלק מהפעילויות החינוכיות השונות, חניכי השבט יוצאים לטיולים שונים לאורך השנה, עוברים תכנים הקשורים לשכבת הגיל שלהם ולומדים מיומנויות צופיות שונות.

                    <br>בסוף כל שנה מגיע מחנה הקיץ שאליו כל חניכי השבט מחכים. חניכי השכבה הבוגרת וחניכי שנת חמישית עובדים במשך חודש שלם על בניית המתקנים השונים שיהיו במחנה.
                    מחנה הקיץ הוא השיא של הטיולים בשנה ובו מתקיימות פרידות קבוצתיות וגם פרידה משכבת השמיניות.<br><br>

                    השבט מקבל לאורך השנים תמיכה מרובה מהורי השכונה אשר מעורבים בפעילויות השונות הקורות בשבט.
                    בשנת 2016 , הרסו את השבט המוכר לכולנו, ולכן בין השנים 2016-2018 השבט קיים את הפעילות שלו בסביבת בית הספר ״רמת אביב גימל״. בשנים אלו, נבנה שבט חדש בסמוך לבית הספר.  כל החניכים בשבט התגעגעו לתחושה והאווירה שהיו בשבט, ולמרות הכל המשיכו להגיע ולקיים מפעלים, טיולים ואת כל שאר המסורות וההרגלים האהובים.
                    בשנת 2018, נכנסנו לשבט החדש ומאז השבט ממשיך לקיים את כל הפעילויות, המפעלים והמסורות הרגילות.
                </p>
                </div>
            </div>
        </div>


        <div class="row row-cols-1 row-cols-md-2">
            <div class="col col-md-8">
                <div class="container-contact100">
                <div class="wrap-contact100">
                    <form class="contact100-form validate-form" method="POST" action="{% url 'home' %}" >
                        {% csrf_token %}
                        <span class="contact100-form-title">
                            <h1>כתבו לנו</h1>
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Name is required">
                            {{ form.name }}
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                            {{ form.email }}
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100">
                            {{ form.phone }}
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "שדה חובה">
                            {{ form.text }}
                            <span class="focus-input100"></span>
                        </div>

                        <div class="container-contact100-form-btn">
                            <div class="wrap-contact100-form-btn">
                                <div class="contact100-form-bgbtn"></div>
                                <button class="contact100-form-btn" type="submit">
                                    שלח
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
		</div>
        <div class="col col-md-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3378.8363312278407!2d34.804266584991346!3d32.127722124114285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4913eb33aaab%3A0xe038ce311eb3bed3!2z16rXoNeV16LXqiDXoNeV16LXqCDXlNem15XXpNeZ150!5e0!3m2!1siw!2sil!4v1598120756016!5m2!1siw!2sil" width="100%"  height="500vh" frameborder="0" style="border:0;" allowfullscreen=""
                          aria-hidden="false" tabindex="0"></iframe>

        </div>
	</div>
	<div class="row" >
        <div class="col" style="text-align: center; margin: auto">
            <p class="white-text" style="font-size: 2em">מאיר פיינשטיין 85</p>
            <p class="white-text" style="font-size: 2em">שלישי: 16:30 - 18:30</p>
            <p class="white-text" style="font-size: 2em">שלישי: 16:00 - 18:00</p>
        </div>
    </div>
</div>


    <script src="{% static 'js/carousell.js' %}"></script>

{% endblock %}