{% extends "base.html" %}
{% load static %}
{% block head %}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-7 paragraph">
                <div class="canvas-black">
                <p class="white-text">
                    שבט גימל הוקם לפני 33 שנים, בשנת 1987 ברמת אבב גימל. השבט מונה 1,100 חניכים מכיתה ד׳ ועד כיתה יב׳
                    בכל שלישי ושישי כל החניכים מגיעים לשבט ועוברים פעולות ברחבי השכונה. הפעולות , המועברות על ידי המדריכים בשכבה הבוגרת, הן פעולות ערכיות המתאימות לחניכים בכל הגילאים.
                    <br>השכבה הבוגרת כוללת צוות פעילים וצוות הדרכה. ביחד, הפעילים והמדריכים מתפעלים ומובילים את השבט במשך השנה.

                    <br><br>בכל שנה, השבט נוהג לקיים מפעלים שונים המערבים את כלל קהילת השכונה ולוקח חלק בפעילויות שכונתיות . המפעלים מערבים בנייה צופית של חברי השכבה הבוגרת וחניכים בשכבות השונות. בין המפעלים ישנם יום שבט המתקיים בחורשה ברמת אביב גימל, חנוכיון שכונתי הכולל מצעד לפידים ברחבי השכונה, פורימון ומחנה הקיץ .

                    <br>לאורך השנה, ישנם מפעלים שונים שהחניכים אחראיים עליהם כמו טקס כ״ט בנובמבר, מפעל לכבוד יום האהבה, טקס לזכרן של חיים בכר ז״ל ומפעלים אחרים.. בכל החניכים מעורבים בפעילות הצופית ולומדים על הבנייה הצופית.
                    במהלך השנה, השבט לוקח חלק גם במירוץ גיא השכונתי לזכרו של גיא אלגרנטי ז״ל ובמירוץ למען מלאכיות הדממה.

                    <br><br>בשנים האחרונות, השבט משקיע רבות בשילוב חניכי צמיד בגדודים השונים ובהפיכתם לחלק משמעותי ובלתי נפרד מהוואי השבט, והחל משנה הבאה גם בשילובם בתוך השכבה הבוגרת.

                    <br><br>כחלק מהפעילויות החינוכיות השונות, חניכי השבט יוצאים לטיולים שונים לאורך השנה, עוברים תכנים הקשורים לשכבת הגיל שלהם ולומדים מיומנויות צופיות שונות.

                    <br>בסוף כל שנה מגיע מחנה הקיץ שאליו כל חניכי השבט מחכים. חניכי השכבה הבוגרת וחניכי שנת חמישית עובדים על המחנה במשך חודש שלם על בניית המתקנים השונים שיהיו במחנה.
                    מחנה הקיץ הוא השיא של הטיולים בשנה ובו מתקיימות פרידות קבוצתיות וגם פרידה משכבת השמיניות.<br><br>

                    השבט מקבל לאורך השנים תמיכה מרובה מהורי השכונה אשר מעורבים בפעילויות השונות הקורות בשבט.
                    בשנת 2016 , הרסו את השבט המוכר לכולנו, ולכן בין השנים 2016-2018 השבט קיים את הפעילות שלו בסביבת בית הספר ״רמת אביב גימל״. בשנים אלו, נבנה שבט חדש בסמוך לבית הספר.  כל החניכים בשבט התגעגעו לתחושה והאווירה שהיו בשבט, ולמרות הכל המשיכו להגיע ולקיים מפעלים, טיולים ואת כל שאר המסורות וההרגלים האהובים.
                    בשנת 2018, נכנסנו לשבט החדש ומאז השבט ממשיך לקיים את כל הפעילויות, המפעלים והמסורות הרגילות.
                </p>
                </div>
            </div>
            <!--Grid column-->
            <div class="col-5" style="padding: 20px; padding-top: 60px; text-align: center">
                <div class="img-border">
                <img src="{% static 'images/drone-shevet.jpg' %}" class="img">
                </div>

                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3378.8411618766936!2d34.7988659
                  1516556!3d32.12759168117287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d49147b451133%3
                  A0xbc4930f2eebbb009!2sMe&#39;ir%20Feinstein%20St%2085%2C%20Tel%20Aviv-Yafo!5e0!3m2!1sen!2sil!4v159
                  7866699159!5m2!1sen!2sil" width="90%"  height="300vh" frameborder="0" style="border:0;" allowfullscreen=""
                          aria-hidden="false" tabindex="0"></iframe>
            </div>

        </div>
    </div>


{% endblock %}