{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col" style="text-align: right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BCSfcwO5dHA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    <div class="row">
            <div class="col" style="text-align: right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BCSfcwO5dHA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    <div class="row">
            <div class="col" style="text-align: right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BCSfcwO5dHA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

{% endblock %}