{% extends "base.html" %}
{% load static %}
{% block head %}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-4 paragraph">
                <h5 class="white-text">ברע בטוב</h5>
                <p class="white-text"><br>ברע, בטוב
                    <br>להיות איתך נשבעתי
                    <br>ת'לב שלי צבעתי
                    <br>עכשיו הלב ורוד
                    <br>ורוד עולה,
                    <br>ורוד עולה עולה או
                    <br>ורוד עולה עולה או
                   <br> ורוד עולה עולה
                    <br>ורוד שחור
                    אני תמיד אוהב את ( את מי?)<br>
                    גימל עד המוות (עד המוות!)<br>
                    <br>עכשיו כולם לקפוץ....</p>
            </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">מזמן</h5>
                <p class="white-text">מזמן, החזרנו ת'כבוד
                    המשוגעים לובשים ורוד
                    תמיד אצעק בגאווה
                    כי אין תנאים לאהבה!
                    ורוד עולה....
                    עכשיו כל השבטים יודעים
                    אין הנהגה בלי הורודים
                    אלבש ורוד עד יום מותי
                    עכשיו!! כולם לשיר איתי
                    ורוד עולה...
                    עכשיו כולם לקפוץ....</p>
            </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">זוכר אותו</h5>
                <p class="white-text">זוכר אותו לעולמים,
                    וכבר עברו הרבה שנים
                    אני זוכר ת׳התרגשות
                    מקום ראשון מחנאות
                    השנה! השנה אני חוזר
                    האימפריה לא תוותר,
                    היא לא תוותר!
                    כי מחזירים, את הכבוד
                    אל הצבע הורוד!!</p>
            </div>
        </div>
    </div>


{% endblock %}