{% extends "base.html" %}
{% load static %}
{% load auth_extras %}

{% block head %}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col paragraph">
                <h5 class="white-text">ברע בטוב</h5>
                <p class="white-text">ברע, בטוב
                    <br>להיות איתך נשבעתי
                    <br>ת'לב שלי צבעתי
                    <br>עכשיו הלב ורוד
                    <br>ורוד עולה,
                    <br>ורוד עולה עולה או
                    <br>ורוד עולה עולה או
                   <br> ורוד עולה עולה
                    <br>ורוד שחור
                 <br>   אני תמיד אוהב את ( את מי?)
                   <br> גימל עד המוות (עד המוות!)
                    <br>עכשיו כולם לקפוץ....</p>
            </div>
            <div class="col paragraph">
                <h5 class="white-text">מזמן</h5>
                <p class="white-text">מזמן, החזרנו ת'כבוד
                    <br>המשוגעים לובשים ורוד
                   <br> תמיד אצעק בגאווה
                 <br>   כי אין תנאים לאהבה!
                <br>    ורוד עולה....
               <br>     עכשיו כל השבטים יודעים
                <br>    אין הנהגה בלי הורודים
               <br>     אלבש ורוד עד יום מותי
                <br>    עכשיו!! כולם לשיר איתי
               <br>     ורוד עולה...
                 <br>   עכשיו כולם לקפוץ....</p>
            </div>
            <div class="col paragraph">
                <h5 class="white-text">זוכר אותו</h5>
                <p class="white-text">זוכר אותו לעולמים,
                 <br>   וכבר עברו הרבה שנים
                <br>    אני זוכר ת׳התרגשות
                 <br>   מקום ראשון מחנאות
                <br>    השנה! השנה אני חוזר
                <br>    האימפריה לא תוותר,
               <br>     היא לא תוותר!
               <br>     כי מחזירים, את הכבוד
               <br>     אל הצבע הורוד!!</p>
            </div>

            <div class="col paragraph">
                <h5 class="white-text">בכל העולם</h5>
                <p class="white-text">בכל העולם
                 <br>   שואלים כולם
                <br>    איך אפשר כל כך
                <br>    לאהוב אותך
                <br>    איך בכל מפקד
                <br>    הלב פועם חזק
                <br>    והוא משתולל!!
                <br>    יאללה שבט גימל
                </div>
            <div class="col paragraph">
                <h5 class="white-text">המחנאות</h5>
                <p class="white-text">נה נה נה ...
                 <br>   או או או .. גי-מל
                <br>    או או או.. גי- מל
                <br>    המחנאות תהיה שלי בעוד שנה או שתים
               <br>     המגן יהיה מונח על המדף בחדר חיים, עשר!
               <br>     עשר שנים של אכזבה
              <br>      ואין לי יותר סבלנות
             <br>       ועד המוות!
                 <br>   עד המוות אנחנו נצעק אני רוצה מחנאות
                 <br>   ורוד עולה עולה! </p>
            </div>
            <div class="col paragraph">
                <h5 class="white-text">תנו לנו לשמוח</h5>
                <p class="white-text">הופה! הופה! הופה..
              <br>  תנו לנו לשמוח,
             <br>   שלא נוכל כבר לעמוד
             <br>   רוצים רק את הקיץ
             <br>   אנחנו לא נguפסיק לכפות
               <br> אוהוהוהו....
                </p>
            </div>

            <div class="col paragraph">
                <h5 class="white-text">היה לנו קצת זמן</h5>
                <p class="white-text">היה לנו קצת זמן,
             <br>   אז כתבנו איזה שיר..
              <br>  בוא ונצעק אותו חזק
             <br>   עד שנרעיד את כל העיר..
             <br>   ניסיתי אחרים, בחרתי רק בך
              <br>  גימל עד המוות אני אוהב אותך
             <br>   עכשיו נצעק בגאווה מזמן החזרנו ת׳כבוד
              <br>  כי אין תנאים לאהבה
              <br>  המשוגעים לובשים ורוד
             <br>   עכשיו כולם לצעוק
             <br>   בלי לדפוק חשבון
             <br>   הנה זה מגיע , הנה הפזמון
             <br>   אוהוהוהו
             <br>   ורוד עולה עולה
                </div>
            <div class="col paragraph">
                <h5 class="white-text">אמא אותי שואלת</h5>
                <p class="white-text">אמא אותי שואלת
              <br>  המשפחה או השבט
              <br>  אמא איך לא קלטת
               <br> אני ורוד עד המוות
              <br>  שבט גימל או מוות - גימל-
               <br> שבט גימל או מוות -גימל- </p>
            </div>
            <div class="col paragraph">
                <h5 class="white-text">אתם רוצים את זה?</h5>
                <p class="white-text">שבט גימל, אתם רוצים את זה? כן!!
              <br>  אתם אוהבים את זה? כן!!
            <br>    פולופופופו...
            <br>    שבט גימל, אותך אני אוהב
             <br>   עליך רק חושב ושר לך מהלב..
             <br>   ורוד עולה, ורוד עולה עולה..</p>
            </div>

            <div class="col paragraph">
                <h5 class="white-text">מהשניה הראשונה</h5>
                <p class="white-text">
                  <br>  מהשנייה הראשונה,
               <br> ועד יומי האחרון,
               <br> תמיד אהיה מאחוריך
              <br>  לתת את הגרון
               <br> תמיד אצעק בגאווה, כי אין!
               <br> כי אין תנאים לאהבה
              <br>  מוכן למות! מוכן למות בשביל הסמל
              <br>  והחולצה הורודה, אוהוווו

                </p>
                </div>
            <div class="col paragraph">
                <h5 class="white-text">לשבט החדש נכנס</h5>
                <p class="white-text">
                  <br>  לשבט החדש נכנס,
                  <br>  התופים רועדים,
                   <br> מפעולה לפעולה,
                   <br> רואים ורוד משתוללים,
                   <br> בכל מורל בשיגעון,
                   <br> מוכן לתת את הגרון,
                   <br> שכל ההנהגה תשמע
                   <br> עכשיו כולם חזק לצעוק!!!
                   <br> שבט גימל משפחה
                   <br> אימפריה בורוד שחור
                  <br>  תצעקו כאילו ש..זה המורל האחרון
                   <br> לשבט גימל פה נשיר
                  <br>  כל היום כל היום
                   <br> ואז נצבע את כל העיר
                 <br>   בורוד ושחור...

                </p>
            </div>
            <div class="col paragraph">
                <h5 class="white-text">תמיד קראו לי פנאט</h5>
                <p class="white-text">
                  <br>  תמיד קראו לי פנאט
                   <br> ולא מוצא היגיון
                  <br>  אמרו לי חלאס עם הכול
                  <br>  תחזיר ת׳צעיף לארון
                  <br>  אף פעם לא מתייאש
                   <br> זה ממלא ת׳חיים
                  <br>  ואם אתה לא חלק מזה
                  <br>  אתה לעולם לא תבין
                  <br>  שוב אני ת׳צעיף
                  <br>  ואת החולצה הורודה
                  <br>  שבט גימל אני בא
                  <br>  הולך להיות קרנבל
                   <br> לעולמים בפעולות
                  <br>  ורק איתך רוצה להיות
                  <br>  כי חוץ ממך אין עוד אחרת
                  <br>  אני ורוד לעד!!

                </p>
            </div>

            <div class="col paragraph">
                <h5 class="white-text">במפקדים</h5>
                <p class="white-text">
                    במפקדים,
                  <br>  עד יום מותי,
                  <br>  תמיד אוהב את הורוד בכל ליבי
                  <br>  בכל מקום, אשר אלך
                  <br>  תמיד אמשיך לשיר ורוד עולה עולה

                </p>
                </div>
            <div class="col paragraph">
                <h5 class="white-text">אצבע</h5>
                <p class="white-text">
                    אצבע ורוד.....
              <br>  את העולם....
              <br>  האהבה הזאת זורמת לי בדם!!
              <br>  יאללה כולם!! טירוף עכשיו
              <br>  אני אמשיך לשיר לך בכל מצב
              <br>  ורוד עולה! ורוד עולה!
              <br>  ורוד עולה! ורוד עולה!
                </p>
            </div>
            <div class="col paragraph">
                <h5 class="white-text">גימל זה אצלי בלב</h5>
                <p class="white-text">
                    גימל זה אצלי בלב
                  <br>  אצלי בלב!
                  <br>  ורק אותך אני אוהב
                  <br>  אני אוהב!
                  <br>  למענך נולדתי
                   <br> לכל מפקד הגעתי
                  <br>  עכשיו כולם ורוד עולה..
                 <br>   ורוד עולה...

                </p>
            </div>

            <div class="col paragraph">
                <h5 class="white-text">יאלה גימל</h5>
                <p class="white-text">
                   <br> יאללה גימל! יאללה גימל!
                  <br>  גימל אימפריה! גימל אימפריה!
                   <br> הורוד עולה עולה! הורוד עולה עולה!
                   <br> יאללה גימל! יאללה גימל!
                   <br> גימל אימפריה! גימל אימפריה!
                  <br>  הורוד עולה עולה! הורוד עולה עולה!
                </p>
                </div>
            <div class="col paragraph">
                <h5 class="white-text">תעשה מהלב</h5>
                <p class="white-text">
                  <br>  לפני כמה שנים,
                  <br>  הייתי עוד צעיר,
                  <br>  דיבר איתי מדריך
                   <br> הוא אמר תבוא תכיר
                  <br>  אז יצאתי ובאתי לשבט מיד
                  <br>  ונכנסתי למקום כה ורוד ומיוחד
                   <br> מאז אני מגיע לכל פעולה
                  <br>  צועק בכל מורל אני נותן ת׳נשמה
                  <br>  ועכשיו כשאני חלק מהמשפחה
                  <br>  אני עוצר כדי לומר לך, תודה....
                  <br>  בשבילך אתן הכול
                 <br>   בלעדיך לא קיים
                  <br>  לא, לא קיים!
                  <br>  שמע לי אחי
                  <br>  זה מה שאני חושב
                  <br>  אם אתה עושה
                   <br>  תעשה מהלב!! מהלב....
                 <br>   ימי פעילות
                 <br>   ואין סוף מפעלים
                  <br>  אני והקבוצה שלי
                  <br>  עושים פה כיף חיים
                  <br>  אוהבים את הצבע
                  <br>  ורוד עולה עולה
                  <br>  כל מה שקשור לכך אני תמיד עושה
                  <br>  אני אוהב את המקום
                 <br>   כל גדוד וכל שכבה
                   <br> אתן הכול בשביל השבט
                  <br>  אין תנאים לאהבה
                  <br>  מנצל כל רגע שאני חלק
                 <br>   מהאימפריה הורודה
                  <br>  בשבילך אתן הכול
                  <br>  בלעדיך לא קיים
                  <br>  לא, לא, לא, לא קיים
                   <br> שמע לי אחי
                  <br>  זה מה שאני חושב
                 <br>   אם אתה עושה
                  <br>  תעשה מהלב
                  <br>  מהלב.....
                  <br>  ואז זה מגיע לפתע פתאום
                  <br>  אותה הרגשה
                  <br>  בסופו של היום
                  <br>  אתה מבין שנתת הכל ונגמר
                   <br> ומחכה כבר לחזור אל השבט מחר
                  <br>  ולרגע בבית
                  <br>  אתה שוכב במיטה
                  <br>  ונזכר לאחור באותה התקופה
                  <br>  מדמיין לעצב לך את החלום הבא
                  <br>  איך לכבוש עם השבט פסגה חדשה
                 <br>   אתה מבין שהחלום הוא המציאות
                  <br>  וכל דקה בשבט אינה חובה אלא היא זכות
                 <br>   אתה עוצם את העיניים זוכר את שהיה
                <br>    ושוב צובע בורוד את עולמך...
                 <br>   במפקדים, עד ליום מותי
                 <br>   אני תמיד אוהב את הורוד בכל ליבי
                 <br>   בכל ליבי במפקדים עד ליום מותי
                 <br>   אני תמיד אוהב את הורוד בכל ליבי
                 <br>   בשבילך אתן הכול
                 <br>   בלעדיך לא קיים
                 <br>   לא, לא, לא, לא קיים
                  <br>  שמע לי אחי
                  <br>  זה מה שאני חושב
                 <br>   אם אתה עושה
                  <br>  תעשה מהלב, מהלב....
                </p>
            </div>
            <div class="col paragraph">
                <h5 class="white-text">I forever</h5>
                <p class="white-text">
                    ‏I forever blowing bubbles <br>
                    ‏Pretty bubbles in the air <br>
                    ‏They fly so high<br>
                    ‏They reach the sky<br>
                    ‏And like my dreams<br>
                    ‏They  fell and die<br>
                    ‏Fortune always hiding<br>
                    ‏I look everywhere<br>
                    ‏I'm forever blowing bubbles<br>
                    ‏Free the bubbles in the air<br>
                    ‏Gi-mel Gi-Mel<br>
                    ‏Let's go fucking Mental<br>
                    ‏let's go fucking Mental<br>
                    ‏Na na na na<br>
                </p>
            </div>
        </div>

        {% if request.user|has_group:"Warehouse" or request.user|has_group:"System" %}

        <div class="row" style="margin-top: 80px">
            <div class="col">
                <h1 class="peilim-header">מורלים של פעילים</h1>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col paragraph">
                <h5 class="white-text">מדריכה מחשפה</h5>
                <p class="white-text">
                   <br> הסיפור שלנו מתחיל
              <br>  בעוד יום פעילות כרגיל
              <br>  המדריכה המכשפה שאלה
               <br> את ראי הקסמים שלה
               <br> ראי ראי שעל הקיר
               <br>  מי הכי יפה בעיר
              <br>  המראה נשברה לה מצחוק
              <br>  ומיד התחילה לצעוק
               <br> פעילים פעילים פעילים
               <br> פעילים פעילים פעילים
                </p>
                </div>
            <div class="col paragraph">
                <h5 class="white-text">הפעילים הם מגנומי זהב</h5>
                <p class="white-text">
                  <br>  הפעילים הם מגנומי זהב
               <br> הפעילים הם מגנומי זהב
              <br>  הפעילים הם מגנומי זהב
              <br>  המדריכים הם ארטיק מטרה

               <br> כל מי שפעיל עכשיו קופץ
              <br>  כל מי שפעיל עכשיו קופץ
              <br>  הדרכה אף פעם לא היינו
              <br>  והדרכה אף לא ניהיה  X2
                </p>
            </div>
            <div class="col paragraph">
                <h5 class="white-text">אני גאה ליהות פעיל</h5>
                <p class="white-text">
                    אי אי אי
               <br>     פעילים
                <br>    פעילים
                 <br>   אני גאה להיות פעיל
                  <br>  אני גאה להיות פעיל
                </p>
            </div>
        </div>
        {% endif %}



    </div>


{% endblock %}