{% extends "base.html" %}
{% load static %}
{% load auth_extras %}

{% block head %}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-4 paragraph">
                <h5 class="white-text">ברע בטוב</h5>
                <p class="white-text"><br>ברע, בטוב
                    <br>להיות איתך נשבעתי
                    <br>ת'לב שלי צבעתי
                    <br>עכשיו הלב ורוד
                    <br>ורוד עולה,
                    <br>ורוד עולה עולה או
                    <br>ורוד עולה עולה או
                   <br> ורוד עולה עולה
                    <br>ורוד שחור
                    אני תמיד אוהב את ( את מי?)<br>
                    גימל עד המוות (עד המוות!)<br>
                    <br>עכשיו כולם לקפוץ....</p>
            </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">מזמן</h5>
                <p class="white-text">מזמן, החזרנו ת'כבוד
                    המשוגעים לובשים ורוד
                    תמיד אצעק בגאווה
                    כי אין תנאים לאהבה!
                    ורוד עולה....
                    עכשיו כל השבטים יודעים
                    אין הנהגה בלי הורודים
                    אלבש ורוד עד יום מותי
                    עכשיו!! כולם לשיר איתי
                    ורוד עולה...
                    עכשיו כולם לקפוץ....</p>
            </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">זוכר אותו</h5>
                <p class="white-text">זוכר אותו לעולמים,
                    וכבר עברו הרבה שנים
                    אני זוכר ת׳התרגשות
                    מקום ראשון מחנאות
                    השנה! השנה אני חוזר
                    האימפריה לא תוותר,
                    היא לא תוותר!
                    כי מחזירים, את הכבוד
                    אל הצבע הורוד!!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-4 paragraph">
                <h5 class="white-text">בכל העולם</h5>
                <p class="white-text">בכל העולם
                    שואלים כולם
                    איך אפשר כל כך
                    לאהוב אותך
                    איך בכל מפקד
                    הלב פועם חזק
                    והוא משתולל!!
                    יאללה שבט גימל
                </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">המחנאות</h5>
                <p class="white-text">נה נה נה ...
                    או או או .. גי-מל
                    או או או.. גי- מל
                    המחנאות תהיה שלי בעוד שנה או שתים
                    המגן יהיה מונח על המדף בחדר חיים, עשר!
                    עשר שנים של אכזבה
                    ואין לי יותר סבלנות
                    ועד המוות!
                    עד המוות אנחנו נצעק אני רוצה מחנאות
                    ורוד עולה עולה! </p>
            </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">תנו לנו לשמוח</h5>
                <p class="white-text">הופה! הופה! הופה..
                תנו לנו לשמוח,
                שלא נוכל כבר לעמוד
                רוצים רק את הקיץ
                אנחנו לא נפסיק לכפות
                אוהוהוהו....
                עזבו אותכם מדיזי, מאביב ושבט דן
                אני אוהב את גימל
                שונא את כל ההנהגה
                שונא בדם!!
                אוהוהוהוו...
                תישרפו ת׳יער
                קפצו כמו משוגעים
                אני אוהב את גימל
                שונא את כל האחרים
                שונא בדם!!
                אוהוהוהו... </p>
            </div>
        </div>

        <div class="row">
            <div class="col-4 paragraph">
                <h5 class="white-text">היה לנו קצת זמן</h5>
                <p class="white-text">היה לנו קצת זמן,
                אז כתבנו איזה שיר..
                בוא ונצעק אותו חזק
                עד שנרעיד את כל העיר..
                ניסיתי אחרים, בחרתי רק בך
                גימל עד המוות אני אוהב אותך
                עכשיו נצעק בגאווה מזמן החזרנו ת׳כבוד
                כי אין תנאים לאהבה
                המשוגעים לובשים ורוד
                עכשיו כולם לצעוק
                בלי לדפוק חשבון
                הנה זה מגיע , הנה הפזמון
                אוהוהוהו
                ורוד עולה עולה
                </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">אמא אותי שואלת</h5>
                <p class="white-text">אמא אותי שואלת
                המשפחה או השבט
                אמא איך לא קלטת
                אני ורוד עד המוות
                שבט גימל או מוות - גימל-
                שבט גימל או מוות -גימל- </p>
            </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">אתם רוצים את זה?</h5>
                <p class="white-text">שבט גימל, אתם רוצים את זה? כן!!
                אתם אוהבים את זה? כן!!
                פולופופופו...
                שבט גימל, אותך אני אוהב
                עליך רק חושב ושר לך מהלב..
                ורוד עולה, ורוד עולה עולה..</p>
            </div>
        </div>

        <div class="row">
            <div class="col-4 paragraph">
                <h5 class="white-text">מהשניה הראשונה</h5>
                <p class="white-text">
                    מהשנייה הראשונה,
                ועד יומי האחרון,
                תמיד אהיה מאחוריך
                לתת את הגרון
                תמיד אצעק בגאווה, כי אין!
                כי אין תנאים לאהבה
                מוכן למות! מוכן למות בשביל הסמל
                והחולצה הורודה, אוהוווו

                </p>
                </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">לשבט החדש נכנס</h5>
                <p class="white-text">
                    לשבט החדש נכנס,
                    התופים רועדים,
                    מפעולה לפעולה,
                    רואים ורוד משתוללים,
                    בכל מורל בשיגעון,
                    מוכן לתת את הגרון,
                    שכל ההנהגה תשמע
                    עכשיו כולם חזק לצעוק!!!
                    שבט גימל משפחה
                    אימפריה בורוד שחור
                    תצעקו כאילו ש..זה המורל האחרון
                    לשבט גימל פה נשיר
                    כל היום כל היום
                    ואז נצבע את כל העיר
                    בורוד ושחור...

                </p>
            </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">תמיד קראו לי פנאט</h5>
                <p class="white-text">
                    תמיד קראו לי פנאט
                    ולא מוצא היגיון
                    אמרו לי חלאס עם הכול
                    תחזיר ת׳צעיף לארון
                    אף פעם לא מתייאש
                    זה ממלא ת׳חיים
                    ואם אתה לא חלק מזה
                    אתה לעולם לא תבין
                    שוב אני ת׳צעיף
                    ואת החולצה הורודה
                    שבט גימל אני בא
                    הולך להיות קרנבל
                    לעולמים בפעולות
                    ורק איתך רוצה להיות
                    כי חוץ ממך אין עוד אחרת
                    אני ורוד לעד!!

                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-4 paragraph">
                <h5 class="white-text">במפקדים</h5>
                <p class="white-text">
                    במפקדים,
                    עד יום מותי,
                    תמיד אוהב את הורוד בכל ליבי
                    בכל מקום, אשר אלך
                    תמיד אמשיך לשיר ורוד עולה עולה

                </p>
                </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">אצבע</h5>
                <p class="white-text">
                    אצבע ורוד.....
                את העולם....
                האהבה הזאת זורמת לי בדם!!
                יאללה כולם!! טירוף עכשיו
                אני אמשיך לשיר לך בכל מצב
                ורוד עולה! ורוד עולה!
                ורוד עולה! ורוד עולה!
                </p>
            </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">גימל זה אצלי בלב</h5>
                <p class="white-text">
                    גימל זה אצלי בלב
                    אצלי בלב!
                    ורק אותך אני אוהב
                    אני אוהב!
                    למענך נולדתי
                    לכל מפקד הגעתי
                    עכשיו כולם ורוד עולה..
                    ורוד עולה...

                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-4 paragraph">
                <h5 class="white-text">יאלה גימל</h5>
                <p class="white-text">
                    יאללה גימל! יאללה גימל!
                    גימל אימפריה! גימל אימפריה!
                    הורוד עולה עולה! הורוד עולה עולה!
                    יאללה גימל! יאללה גימל!
                    גימל אימפריה! גימל אימפריה!
                    הורוד עולה עולה! הורוד עולה עולה!
                </p>
                </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">תעשה מהלב</h5>
                <p class="white-text">
                    לפני כמה שנים,
                    הייתי עוד צעיר,
                    דיבר איתי מדריך
                    הוא אמר תבוא תכיר
                    אז יצאתי ובאתי לשבט מיד
                    ונכנסתי למקום כה ורוד ומיוחד
                    מאז אני מגיע לכל פעולה
                    צועק בכל מורל אני נותן ת׳נשמה
                    ועכשיו כשאני חלק מהמשפחה
                    אני עוצר כדי לומר לך, תודה....
                    בשבילך אתן הכול
                    בלעדיך לא קיים
                    לא, לא קיים!
                    שמע לי אחי
                    זה מה שאני חושב
                    אם אתה עושה
                    תעשה מהלב!! מהלב....
                    ימי פעילות
                    ואין סוף מפעלים
                    אני והקבוצה שלי
                    עושים פה כיף חיים
                    אוהבים את הצבע
                    ורוד עולה עולה
                    כל מה שקשור לכך אני תמיד עושה
                    אני אוהב את המקום
                    כל גדוד וכל שכבה
                    אתן הכול בשביל השבט
                    אין תנאים לאהבה
                    מנצל כל רגע שאני חלק
                    מהאימפריה הורודה
                    בשבילך אתן הכול
                    בלעדיך לא קיים
                    לא, לא, לא, לא קיים
                    שמע לי אחי
                    זה מה שאני חושב
                    אם אתה עושה
                    תעשה מהלב
                    מהלב.....
                    ואז זה מגיע לפתע פתאום
                    אותה הרגשה
                    בסופו של היום
                    אתה מבין שנתת הכל ונגמר
                    ומחכה כבר לחזור אל השבט מחר
                    ולרגע בבית
                    אתה שוכב במיטה
                    ונזכר לאחור באותה התקופה
                    מדמיין לעצב לך את החלום הבא
                    איך לכבוש עם השבט פסגה חדשה
                    אתה מבין שהחלום הוא המציאות
                    וכל דקה בשבט אינה חובה אלא היא זכות
                    אתה עוצם את העיניים זוכר את שהיה
                    ושוב צובע בורוד את עולמך...
                    במפקדים, עד ליום מותי
                    אני תמיד אוהב את הורוד בכל ליבי
                    בכל ליבי במפקדים עד ליום מותי
                    אני תמיד אוהב את הורוד בכל ליבי
                    בשבילך אתן הכול
                    בלעדיך לא קיים
                    לא, לא, לא, לא קיים
                    שמע לי אחי
                    זה מה שאני חושב
                    אם אתה עושה
                    תעשה מהלב, מהלב....
                </p>
            </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">I forever</h5>
                <p class="white-text">
                    ‏I forever blowing bubbles <br>
                    ‏Pretty bubbles in the air <br>
                    ‏They fly so high<br>
                    ‏They reach the sky<br>
                    ‏And like my dreams<br>
                    ‏They  fell and die<br>
                    ‏Fortune always hiding<br>
                    ‏I look everywhere<br>
                    ‏I'm forever blowing bubbles<br>
                    ‏Free the bubbles in the air<br>
                    ‏Gi-mel Gi-Mel<br>
                    ‏Let's go fucking Mental<br>
                    ‏let's go fucking Mental<br>
                    ‏Na na na na<br>
                </p>
            </div>
        </div>

        {% if request.user|has_group:"Warehouse" or request.user|has_group:"System" %}

        <div class="row" style="margin-top: 80px">
            <div class="col">
                <h1 class="peilim-header">מורלים של פעילים</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-4 paragraph">
                <h5 class="white-text">מדריכה מחשפה</h5>
                <p class="white-text">
                    הסיפור שלנו מתחיל
                בעוד יום פעילות כרגיל
                המדריכה המכשפה שאלה
                את ראי הקסמים שלה
                ראי ראי שעל הקיר
                מי הכי יפה בעיר
                המראה נשברה לה מצחוק
                ומיד התחילה לצעוק
                פעילים פעילים פעילים
                פעילים פעילים פעילים
                </p>
                </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">הפעילים הם מגנומי זהב</h5>
                <p class="white-text">
                    הפעילים הם מגנומי זהב
                הפעילים הם מגנומי זהב
                הפעילים הם מגנומי זהב
                המדריכים הם ארטיק מטרה

                כל מי שפעיל עכשיו קופץ
                כל מי שפעיל עכשיו קופץ
                הדרכה אף פעם לא היינו
                והדרכה אף לא ניהיה  X2
                </p>
            </div>
            <div class="col-4 paragraph">
                <h5 class="white-text">אני גאה ליהות פעיל</h5>
                <p class="white-text">
                    אי אי אי
                    פעילים
                    פעילים
                    אני גאה להיות פעיל
                    אני גאה להיות פעיל
                </p>
            </div>
        </div>
        {% endif %}



    </div>


{% endblock %}